@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}

#dashboard_nav .active {
  color: blue;
  border-right: 4px solid blue;
}

#mid_section::-webkit-scrollbar,
#chatArea::-webkit-scrollbar,
#transactions::-webkit-scrollbar {
  width: 0.2rem;
}

#mid_section::-webkit-scrollbar-track,
#chatArea::-webkit-scrollbar-track,
#transactions::-webkit-scrollbar-track {
  background: transparent;
}

#mid_section::-webkit-scrollbar-thumb,
#chatArea::-webkit-scrollbar-thumb,
#transactions::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

table,
tr,
td,
th {
  border: none;
}

tr {
  border-bottom: 0.2px solid rgb(213, 213, 213);
}
