.container {
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parent {
  height: 100%;
  width: 80%;
  padding-top: 50px;
}
.parent > div {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.parent span {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}
.parent svg {
  font-size: 50px;
}
.desc_3 {
  margin-bottom: 50px;
  width: 100%;
  text-align: end;
  font-size: 32px;
  font-weight: 600;
  color: white;
  font-size: 36px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
